extends base
block content
	.gallery
		ul
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img
			li: img